*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    overflow-x: hidden;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    width: 100%;
    overflow-x: hidden;
    background-color: black;
}
::-webkit-scrollbar { width: 0 !important; }
/*-------------
--ALL SECTION--
-------------*/
.nav{
    position: fixed;
}
.section{
    width: 100%;
    height: 100%;
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*-----------------
--FIN ALL SECTION--
-----------------*/
/*-----------
--SECTION 1--
-----------*/
.header{
    height: 100%;
}
.header .logo-and-title{
    position: relative;
    text-align: center;
    width: 80%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation: 4s linear homeTitle;
}
.bg1{
    /*background-color: #56cfe1;*/
    background-color: #023e8a;
}
/*---------------
--FIN SECTION 1--
---------------*/
/*-----------
--SECTION 2--
-----------*/
.bg2{
    /*background-color: #48bfe3;*/
    background-color: #0077b6;
}

.project-context{
    position: relative;
    text-align: center;
    width: 80%;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.project-context .title{
    margin-bottom: 5%;
}
.project-context .logo{
    margin-bottom: 5%;
    width: 20%;
}
/*---------------
--FIN SECTION 2--
---------------*/
/*-----------
--SECTION 3--
-----------*/
.bg3{
    background-color: #4ea8de;
}
.box-documents{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 80%;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    padding: 10px;
}
.project-contrainte{
    text-align: justify;
    padding: 10px;
}
.project-contrainte .title{
    text-align: center;
    margin-bottom: 5%;
}
.project-utilisation .title{
    text-align: center;
    margin-bottom: 5%;
}
.project-utilisation{
    padding: 10px;
}
/*---------------
--FIN SECTION 3--
---------------*/
/*-----------
--SECTION 4--
-----------*/
.bg4{
    background-color: #5390d9;
}
.bg4 .title{
    position: relative;
    top :10%;
    text-align: center;
}
.box-ressources{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    width: 80%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding:20px;
}
.box-ressources .project-ressources{
    text-align: justify;
    width: 50%;
    margin: 0 2%;
    padding: 10px;
    height: 100%;
}
/*---------------
--FIN SECTION 4--
---------------*/
/*-----------
--SECTION 5--
-----------*/
.bg5{
    background-color: #5e60ce;
}
.bg5 .title{
    position: relative;
    top :10%;
    text-align: center;
}
.content-view{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    width: 80%;
    height: 50%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.content-view .view{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.content-view .view img{
    height: 100%;
    width: auto;
}
.content-view .desc-view{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}
/*---------------
--FIN SECTION 5--
---------------*/
/*-----------
--SECTION 6--
-----------*/
.bg6{
    background-color: #6930c3;
}
.project-download{
    position: relative;
    text-align: center;
    width: 80%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
/*---------------
--FIN SECTION 6--
---------------*/