*{
    margin: 0;
    padding: 0;
}
body{
    color: white;
    overflow-x: hidden;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    width: 100%;
    overflow-x: hidden;
    background-color: black;
}
::-webkit-scrollbar { width: 0 !important; }
/*-------------
--ALL SECTION--
-------------*/
.nav{
    position: fixed;
}
.section{
    width: 100%;
    height: 100%;
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*-----------------
--FIN ALL SECTION--
-----------------*/
/*-----------
--SECTION 1--
-----------*/
.header{
    height: 100%;
}
.header .logo-and-title{
    position: relative;
    text-align: center;
    width: 80%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    animation: 4s linear homeTitle;
}
/*.bg1{
    background-image: url("../assets/background/img_test.jpg");
}*/
/*---------------
--FIN SECTION 1--
---------------*/
/*-----------
--SECTION 2--
-----------*/
.project-context{
    position: relative;
    text-align: center;
    width: 80%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
/*---------------
--FIN SECTION 2--
---------------*/